# Node modules and build output
node_modules
dist
dist-ssr

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local env files
.env
.env.*

# Editor and OS files
.vscode
.idea
.DS_Store

# Git
.git
.gitignore

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?